/* 1080p = 1920px */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 601vw;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden !important;
}

*:focus, input:focus, input:focus, .form-control {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.brand-hero-logo {
  position: fixed;
  top: 10px;
  left: 30px;
  z-index: 50;
  opacity: 1;
  transition: all .21s;
} .brand-hero-logo > a > img {
  width: 12vw;
}

.social-media {
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 50;
  opacity: 1;
  transition: all .21s;
} .social-media > a > img {
    width: 16%;
  }

.footer-fix {
  position: fixed;
  bottom: 10px;
  right: 30px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 50;
}

/* =======================NAVIGASI BETA======================= */
.sidenav {
  height: 100vh;
  width: 33.33%;
  position: fixed;
  z-index: 49;
  top: 0;
  right: -33.33%;
  background: rgba(237, 255, 247, 1) url('../images/sidemenu-bg.png') no-repeat bottom right;
  background-size: 80% 60%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
.sideN {
  padding: 0 75px;
}
.sideN > a {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  color: #3CA093;
  font-size: 2.4vw;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 6vh;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: all .5s ease;
}
.sideN > a:hover,
.sideN > a:focus {
  color: #3CA093;
  text-decoration: none;
}
.sideN > a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  color: rgba(237, 255, 247, 1);
  background-color: #3CA093;
  transition: all .25s ease;
}
.sideN > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 3px;
  color: rgba(237, 255, 247, 1);
  background-color: #3CA093;
  transition: all .25s ease;
}
.sideN > a:hover:before, .sideN > a:hover:after {
  width: 100%; 
}

.openNav,
.closeNav {
  position: fixed;
  z-index: 50;
  top: 60px;
  right: 60px;
}
.openNav > span,
.closeNav > span {
  position: relative;
  padding: 7px 7px 10px 10px;
  font-size: 2vw;
  border-radius: 50%;
  cursor: pointer;
}
.openNav > span {
  color: #52D1BD;
}
.closeNav > span {
  background-color: #52D1BD;
  color: rgba(237, 255, 247, 1);
}
.closeNav > span:after {
  content: 'MENU';
  position: absolute;
  top: 25%;
  left: -160%;
  color: #52D1BD;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
}

/* card fronts and backs */
.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
/* click effect */
.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* =======================NAVIGASI======================= */
  .timeline-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 100px 80px 0 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    opacity: 1;
    transition: all .1s;
  }
  .timeline-menu .nav {
    position: relative;
    width: auto;
    display: inline-flex;
    flex-direction: row;
  } 
  .timeline-menu .nav .dot {
    position: relative;
  }
  .timeline-menu .nav .dot a:nth-child(1) {
    position: absolute;
    padding-bottom: 10px;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25vw;
    color: whitesmoke;
    font-weight: 600;
    transition: all .5s;
  } .desc:link,
    .desc:visited {
      text-decoration: none;
  }
  .timeline-menu .nav .dot a:nth-child(2) {
    margin: 0 50px;
    color: whitesmoke;
    font-size: 1.5vw;
    transition: all .5s;
  } .timeline-menu .nav .dot:hover a:nth-child(1),
    .timeline-menu .nav .dot:hover a:nth-child(2) {
    color: rgb(165, 255, 0);
    text-decoration: none;
  }


/* ========================KONTEN====================== */
  .section {
    width: 100vw;
    height: 100%;
    float: left;
  }

  /* PARAGRAPH CONTENT */
  #section1 .hero-title {
    padding-left: 50px;
  }
    #section2 .hero-title {
      padding-left: 75px;
    }
    #section4 .hero-title {
      padding-left: 0;
    }
    #section5 .hero-title {
      padding-left: 0;
    }

  .hero-title, .vertical-intro {
    font-size: 4vw;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
  }

  #section1 h1.vertical-intro {
    position: absolute;
    left: 0;
    top: 380px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
    #section2 h1.vertical-intro {
      position: absolute;
      left: 25px;
      top: 365px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    #section4 h1.vertical-intro {
      position: absolute;
      left: 75px;
      top: 275px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    #section5 h1.vertical-intro {
      position: absolute;
      left: 30px;
      top: 315px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    #section6 h1.vertical-intro {
      position: absolute;
      left: 40px;
      top: 300px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }

  .home p,
  .about p {
    width: 60%;
    padding: 0;
    font-size: 1.25vw;
    letter-spacing: 1px;
  }
  #section4 h2 {
    padding: 10px 0 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }

/* ========================BACKGROUND====================== */
  .home {
    color: whitesmoke;
    z-index: 1;
  }

  .glasseffect {
    position: relative;
    padding: 175px 180px 0 180px;
    width: 100%;
    height: 100vh;
    background-image: url('../images/bannerglass.png');
    background-size: 8px 8px;
    background-position: top left;
    opacity: 0.75;
  }
  /*  VIDEO  */
  .video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .about {
    color: whitesmoke;
    background: #444 url('../images/background_02about.gif') no-repeat center;
    background-size: cover;
    z-index: 1;
  }

  .officers {
    color: whitesmoke;
    background-color: #444;
    z-index: 1;
  }

  .services {
    color: whitesmoke;
    background: #444 url('../images/background_04services.gif') no-repeat center;
    background-size: cover; 
    z-index: 1;
  }

  .projects {
    position: relative !important;
    color: whitesmoke;
    background: #444 url('../images/background_05projects.gif') no-repeat center;
    background-size: cover; 
    z-index: 1;
  }

  .contact {
    color: whitesmoke;
    background: #444 url('../images/background_06contact.jpg') no-repeat center;
    background-size: cover; 
    z-index: 5;
  }

/* CONTAINER PAGE */
  .container-about {
    position: relative;
    padding: 175px 180px 0 180px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
  }

  .container-service, .container-project {
    position: relative;
    padding: 175px 180px 0 180px;
    width: 100%;
    height: 100vh;
  }

/* OFFICERS PAGE */
  .officers .container-officers {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  /*.titlePage {
    position: absolute;
    z-index: 99;
    width: 100% !important;
    top: 125px;
    text-align: center;
  }*/

  .officers .container-officers .col-bg-full {
    width: 50%;
    height: 100vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: all .25s ease-in;
  } .officers .container-officers .col-bg-full:hover {
    filter: none;
  }

  .officers .container-officers .first-bg {
    background: white url('../images/photo_lukas_fix.jpg') no-repeat left;
    background-size: cover;
  }
  .officers .container-officers .second-bg {
    background: white url('../images/photo_yusak_fix.jpg') no-repeat left;
    background-size: cover;
  }

  #container-off1,
  #container-off2,
  #container-off3 {
    padding: 0 25px 0 165px;
    opacity: 0;
  }

  #section3 h2:nth-child(1) {
    margin-bottom: -35px;
    text-align: left;
  }
  #section3 h2:nth-child(2) {
    color: rgba(255,255,255,.5);
    text-align: left;
  }

/* SERVICES PAGE */
  #section4 > .container-service a {
    padding: 0;
    position: relative;
    margin-left: 25px;
    color: whitesmoke;
  }   #section4 > .container-service a:hover, #section4 > .container-service a:link {
        text-decoration: none;
      }

  .panel-group {
    margin: 25px 0 0 25px;
  }
  .panel-default {
    width: 80%;
    background: transparent !important;
    border: none !important;
  }
  .panel-default > .panel-heading {
    padding: 0;
    background: rgba(0, 0, 0, 0) !important;
  }
  .panel-default .panel-title {
    line-height: 15px;
    transition: all .5s;
    font-size: 2vw;
    font-weight: 600;
  }   .panel-default .panel-title:hover {
        /*line-height: 40px;*/
        letter-spacing: 8px;
      }
  .panel-body {
    font-size: 1.25vw;
    line-height: normal;
  }

/* PROJECTS PAGE */
  #section5 #myCarousel {
    background-color: transparent;
  }

  #section5 .col-sm-4 {
    position: relative;
    width: 32%;
    margin: 0 5px;
    padding: 0;
    height: 33vh;
    z-index: 1;
  }

  #section5 .col-sm-4 .project-image {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    filter: blur(0);
    transition: all .5s;
  } #section5 .col-sm-4 .pimage1 {
      background: url('../images/project_1.jpg') no-repeat center;
      background-size: cover;
    }
    #section5 .col-sm-4 .pimage2 {
      background: url('../images/project_2.jpg') no-repeat center;
      background-size: cover;
    }
    #section5 .col-sm-4 .pimage3 {
      background: url('../images/project_3.jpg') no-repeat center;
      background-size: cover;
    }
    #section5 .col-sm-4 .pimage4 {
      background: url('../images/project_4.jpg') no-repeat center;
      background-size: cover;
    }
    #section5 .col-sm-4 .pimage5 {
      background: url('../images/project_5.jpg') no-repeat center;
      background-size: cover;
    }
    #section5 .col-sm-4 .pimage6 {
      background: url('../images/project_6.jpg') no-repeat center;
      background-size: cover;
    }
    #section5 .col-sm-4:hover .project-image {
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      filter: blur(2px);
    }
    #section5 .col-sm-4:hover .project-image {
      background-size: 110%;
      background-size: cover;
    }
  .project-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 95%;
    cursor: pointer;
    opacity: 0;
    transition: all .5s;
  } .col-sm-4:hover .project-detail {
      height: 100%;
      width: 100%;
      opacity: 1;
      background-color: rgba(0, 0, 0, .25);
    }

  .project-detail > span {
    font-size: 6vw; 
  }

  .project-detail > button[type="button"] {
    position: absolute;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 600;
    background-color: transparent;
    border: none;
  } .project-detail > button[type="button"]:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 5px;
      background-color: white;
      transition: all .5s;
    }
    .project-detail > button[type="button"]:hover:after {
      width: 100%;
    }


  /* SEND BUTTON */
  .view-button {
    position: absolute;
    bottom: -5px;
    left: 50%;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    padding: 0.25em calc(0.25em * 1.2);
    border: 3px solid transparent;
    font-size: 1.25vw;
    font-weight: 600;
    letter-spacing: 0.07em;
  }
  .view-button > .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .view-button > .text a {
    color: white;
    text-decoration: none;
  }
  .view-button:after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: transparent;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  .line-v {
    position: absolute;
    background: white;
  }
  .line-v.-right-v, .line-v.-left-v {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  .line-v.-top-v, .line-v.-bottom-v {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  .line-v.-right-v {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  .line-v.-top-v {
    top: -4px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  .line-v.-left-v {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  .line-v.-bottom-v {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  .view-button:hover > .text, .view-button:active > .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .view-button:hover:after, .view-button:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  .view-button:hover .line-v, .view-button:active .line-v {
    transform: scale3d(1, 1, 1);
  }
  .view-button:hover .line-v.-right-v, .view-button:active .line-v.-right-v {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  .view-button:hover .line-v.-top-v, .view-button:active .line-v.-top-v {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  .view-button:hover .line-v.-left-v, .view-button:active .line-v.-left-v {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  .view-button:hover .line-v.-bottom-v, .view-button:active .line-v.-bottom-v {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }


  .data-slide {
    position: absolute;
    top: 35vh;
  } .data-slide > li {
      padding: 5px;
    }

  #project-one,
  #project-two,
  #project-three,
  #project-four,
  #project-five,
  #project-six {
    z-index: 2;
    position: absolute;
    top: 100vh;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 0 35% 0 10%;
    color: black;
    cursor: default;
    transition: all .5s;
    visibility: hidden;
  }
  #project-one .project-intro-vid,
  #project-two .project-intro-vid,
  #project-three .project-intro-vid,
  #project-four .project-intro-vid,
  #project-five .project-intro-vid,
  #project-six .project-intro-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 50vh;
  }
  .video-project {
    width: 100%;
    height: 50vh; 
    object-fit: cover;
  }
  #project-one h1,
  #project-two h1,
  #project-three h1,
  #project-four h1,
  #project-five h1,
  #project-six h1 {
    font-size: 6vw;
    letter-spacing: 15px;
    font-weight: 600;
    margin-top: 50vh;
  }
  #project-one .project-content,
  #project-two .project-content,
  #project-three .project-content,
  #project-four .project-content,
  #project-five .project-content,
  #project-six .project-content {
    font-size: 1.5vw;
    line-height: 25px;
    letter-spacing: 1px;
  }
  #project-one .side-content,
  #project-two .side-content,
  #project-three .side-content,
  #project-four .side-content,
  #project-five .side-content,
  #project-six .side-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: #f4f4f4;
  }
  #project-one .side-content .image-thumb,
  #project-two .side-content .image-thumb,
  #project-three .side-content .image-thumb,
  #project-four .side-content .image-thumb,
  #project-five .side-content .image-thumb,
  #project-six .side-content .image-thumb {
    height: 30vh;
  } #project-one .side-content .image-thumb {
      background: url('../images/project_1.jpg') no-repeat center;
      background-size: cover;
    }
    #project-two .side-content .image-thumb {
      background: url('../images/project_2.jpg') no-repeat center;
      background-size: cover;
    }
    #project-three .side-content .image-thumb {
      background: url('../images/project_3.jpg') no-repeat center;
      background-size: cover;
    }
    #project-four .side-content .image-thumb {
      background: url('../images/project_4.jpg') no-repeat center;
      background-size: cover;
    }
    #project-five .side-content .image-thumb {
      background: url('../images/project_5.jpg') no-repeat center;
      background-size: cover;
    }
    #project-six .side-content .image-thumb {
      background: url('../images/project_6.jpg') no-repeat center;
      background-size: cover;
    }
  #project-one .side-content .isi,
  #project-two .side-content .isi,
  #project-three .side-content .isi,
  #project-four .side-content .isi,
  #project-five .side-content .isi,
  #project-six .side-content .isi {
    position: relative;
    width: 100%;
    height: 70%;
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }
  #project-one .side-content .isi h3,
  #project-two .side-content .isi h3,
  #project-three .side-content .isi h3,
  #project-four .side-content .isi h3,
  #project-five .side-content .isi h3,
  #project-six .side-content .isi h3 {
    margin-bottom: 40px;
    font-size: 1.5vw;
    font-weight: 600;
  }
  #project-one .side-content .isi p,
  #project-two .side-content .isi p,
  #project-three .side-content .isi p,
  #project-four .side-content .isi p,
  #project-five .side-content .isi p,
  #project-six .side-content .isi p {
    font-size: 1.25vw; 
  }

  #project-one .back-history,
  #project-two .back-history,
  #project-three .back-history,
  #project-four .back-history,
  #project-five .back-history,
  #project-six .back-history {
    position: absolute;
    bottom: 55px;
    left: 25px;
  }
  #project-one .back-history button,
  #project-two .back-history button,
  #project-three .back-history button,
  #project-four .back-history button,
  #project-five .back-history button,
  #project-six .back-history button {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    letter-spacing: 3px;
    color: black;
    text-transform: uppercase;
    transition: all .5s;
  }
  #project-one .back-history button:hover,
  #project-two .back-history button:hover,
  #project-three .back-history button:hover,
  #project-four .back-history button:hover,
  #project-five .back-history button:hover,
  #project-six .back-history button:hover {
    color: rgba(0, 0, 0, 0);
  }

  #project-one .back-history button:before,
  #project-two .back-history button:before,
  #project-three .back-history button:before,
  #project-four .back-history button:before,
  #project-five .back-history button:before,
  #project-six .back-history button:before,
  #project-one .back-history button:after,
  #project-two .back-history button:after,
  #project-three .back-history button:after,
  #project-four .back-history button:after,
  #project-five .back-history button:after,
  #project-six .back-history button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: gray;
    transition: all .5s;
  }
  #project-one .back-history button:hover:before,
  #project-two .back-history button:hover:before,
  #project-three .back-history button:hover:before,
  #project-four .back-history button:hover:before,
  #project-five .back-history button:hover:before,
  #project-six .back-history button:hover:before {
    background-color: black;
    transform: rotate(-45deg);
  }
  #project-one .back-history button:hover:after,
  #project-two .back-history button:hover:after,
  #project-three .back-history button:hover:after,
  #project-four .back-history button:hover:after,
  #project-five .back-history button:hover:after,
  #project-six .back-history button:hover:after {
    background-color: black;
    transform: rotate(45deg);
  }

/* CONTACT PAGE */
  #section6 .form-kontak {
    padding-top: 10vh;
  }

  .form-kontak input[type="text"],
  .form-kontak input[type="email"] {
    background-color: transparent;
    border: none;
    border-top: 2px solid whitesmoke;
    border-radius: 0;
    padding-left: 0; 
    padding-right: 0;
    color: whitesmoke;
    font-weight: 600;
  } .form-kontak input[type="text"]:focus,
    .form-kontak input[type="email"]:focus {  
    }

  .form-kontak textarea.form-pesan {
    height: 160px;
    background-color: rgba(0, 0, 0, .35);
    border: 2px solid whitesmoke;
    border-radius: 0; 
    color: whitesmoke;
  }

  /* SEND BUTTON */
  .send-button {
    position: relative;
    margin-top: 20px;
    margin-left: 31px;
    cursor: pointer;
    color: white;
    transform: translate3d(-50%, -50%, 0);
    padding: 0.25em calc(0.25em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    font-size: 1.2vw;
    letter-spacing: 0.07em;
  }
  .send-button .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .send-button:after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: rgb(165, 255, 0);
    z-index: -1;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  .line {
    position: absolute;
    background: rgb(165, 255, 0);
  }
  .line.-right, .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  .line.-top, .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  .line.-top {
    top: -4px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  .send-button:hover .text, .send-button:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .send-button:hover:after, .send-button:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  .send-button:hover .line, .send-button:active .line {
    transform: scale3d(1, 1, 1);
  }
  .send-button:hover .line.-right, .send-button:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  .send-button:hover .line.-top, .send-button:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  .send-button:hover .line.-left, .send-button:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  .send-button:hover .line.-bottom, .send-button:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }


/*  MEDIA SCREEN  */
@media only screen and (min-width: 2560px) {

    /* For desktop: */
    /* home page */
    .glasseffect {
      padding: 550px 380px 0 380px;
    }
    #section1 h1.vertical-intro {
      left: 0;
      top: 925px;
    }

    /* about page */
    .container-about {
      padding: 550px 380px 0 380px;
    }
    #section2 h1.vertical-intro {
      left: 35px;
      top: 895px;
    }

    /* officer page */
    .officers .container-officers .col-bg-full p,
    .officers .container-officers .col-bg-full h2 {
      padding-left: 250px;
    }

    /* services page */
    .container-service {
      padding: 550px 380px 0 380px;
    }
    #section4 h1.vertical-intro {
      left: 100px;
      top: 820px;
    }
    #section4 .detail-service > h2 {
      line-height: 37px;
    }

    /* projects page */
    .container-project {
      padding: 550px 380px 0 380px;
    }
    #section5 h1.vertical-intro {
      left: 45px;
      top: 890px;
    }

    /* contact page */
    #section6 h1.vertical-intro {
      left: 60px;
      top: 870px;
    }

}

@media only screen and (min-width: 1920px) {
    /* For desktop: */
    /* home page */
    .glasseffect {
      padding: 200px 280px 0 325px;
    }
    #section1 h1.vertical-intro {
      left: 50px;
      top: 500px;
    }
    .home p {
      padding: 0 0 0 0;
    }

    /* about page */
    .container-about {
      padding: 275px 280px 0 325px;
    }
    #section2 h1.vertical-intro {
      left: 95px;
      top: 550px;
    }
    .about p {
      padding: 0 0 0 0;
    }

    /* officer page */
    .officers .container-officers .col-bg-full p,
    .officers .container-officers .col-bg-full h2 {
      padding-left: 250px;
    }
    .titlePage {
      top: 190px;
      left: 290px;
    }
    .officers .container-officers .col-bg-full h2:nth-child(1) {
      margin-bottom: -35px;
    }
    .officers .container-officers .col-bg-full h2:nth-child(2) {
      padding-left: 320px;
      color: rgba(255, 255, 255, .5);
    }
    #container-off1,
    #container-off2,
    #container-off3 {
      padding: 0 25px 0 100px;
    }

    /* services page */
    .container-service {
      padding: 275px 280px 0 325px;
    }
    #section4 h1.vertical-intro {
      left: 175px;
      top: 450px;
    }
    #section4 .detail-service > h2 {
      line-height: 26px;
    }
    .panel-group {
      margin: 50px 0 0 25px;
    }
    .panel-default .panel-title {
      line-height: 25px;
    }   .panel-default .panel-title:hover {
          letter-spacing: 14px;
        }

    /* projects page */
    .container-project {
      padding: 275px 280px 0 325px;
    }
    #section5 h1.vertical-intro {
      left: 110px;
      top: 500px;
    }

    #project-one .project-content,
    #project-two .project-content,
    #project-three .project-content,
    #project-four .project-content,
    #project-five .project-content,
    #project-six .project-content {
      line-height: 45px;
    }

    /* contact page */
    #section6 h1.vertical-intro {
      left: 60px;
      top: 540px;
    }

    .send-button {
      position: relative;
      margin-top: 25px;
      margin-left: 45px;
    }

}